<div class="container">
  <div class="card">
    <div class="card-header">
      Profile
    </div>
    <div class="card-body">
      <div class="">
        <label>Nom:</label>
        <div class="text-center mb-3">
          <input type="text">
        </div>
        <label>Tel:</label>
        <div class="text-center mb-3">
          <input  type="text">
        </div>
        <label>Email:</label>
        <div class="text-center mb-3">
          <input type="text">
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button>Valider</button>
    </div>
  </div>
</div>
