<div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Inscrire</h2>
    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
    <!-- Login Form -->
    <form #loginForm="ngForm" class="fadeInDown">
        <input type="text" ngModel class="" name="p" placeholder="Réseau social">
        <input type="text" ngModel class="" name="p" placeholder="Email">
        <input type="text" ngModel class="" name="username" placeholder="Tel">
        <input type="text" ngModel class="" name="username" placeholder="Address">
        <input type="password" ngModel id="password" class="" name="password" placeholder="Password">
        <input type="submit" class="fadeIn second" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
        <a routerLink="../connection" class="underlineHover">j'ai un compte</a>
    </div>
</div>