<header style="z-index: 100;">
    <p-sidebar class="bg-dark" [(visible)]="display" [baseZIndex]="100000">
        <div style="text-align: center;">
            <a href="/">
                <img src="assets/img/yasseer_logo.png" id="" alt="User Icon" width="150px" height="auto" />
            </a>
        </div>
        <hr>
        <div>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a>
                            </li>
                            <li><a type="button" (click)="logOut()"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </p-sidebar>
    <!-- Fixed navbar -->
    <nav class="navbar fixed-top bg-dark">
        <div class="container-fluid">
            <div *ngIf="loginService.isLoggedIn()">
                <a style="color: white;" type="button" (click)="displaySideBar()" class="h1"><i
                        class="fas fa-align-left"></i></a>
            </div>
            <div *ngIf="!loginService.isLoggedIn()">
                <ul class="nav me-auto">
                    <li class="nav-item"><a routerLinkActive="active" routerLink="login/connection"
                            class="nav-link text-white px-2">Se connecter</a>
                    </li>
                    <li class="nav-item"><a routerLinkActive="active" routerLink="login/register"
                            class="nav-link text-white px-2">Inscrire</a>
                    </li>
                    <li class="nav-item"><a routerLinkActive="active" routerLink="code-to-gift"
                            class="nav-link text-white px-2">J'ai un coupon !</a>
                    </li>
                </ul>
            </div>

            <a href="/">
                <img src="assets/img/yasseer_logo.png" alt="User Icon" width="150px" height="auto" />
            </a>
        </div>
    </nav>
    <div style="height: 100px;"></div>
</header>
